.home-conteiner-user {
    display: flex;
    position: relative;
    min-height: 0;
    justify-content: end;
    align-items: center;
    padding-bottom: 15px;
}

.home-user {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    background: #f6f8fa;
    border: 1px solid #d1d9e0;
    gap: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s background ease;
    z-index: 20;
}

    .home-user:hover {
        background: #eaeef2
    }

.home-user-icon {
    font-size: 20px;
    font-weight: 200
}

.home-user-name {
    font-weight: 300;
    letter-spacing: 0.5px;
}

    .home-user-name:hover {
    }

.home-arrow-icon {
    font-size: 10px;
}

.tooltips-user::after {
    content: attr(data-title-user);
    position: absolute;
    color: #000000ff;
    padding: 4px 8px;
    top: -32%;
    right: -5px;
    border-radius: 5px;
    font-size: 12px;
    width: max-content;
    visibility: hidden;
    opacity: 0;
    letter-spacing: 0.5px;
    transition: opacity 0.2s ease-in-out, visibility 0.1s ease-in-out;
    z-index: 10;
}

/* Exibe o balão e a seta ao passar o mouse */
.tooltips-user:hover::after,
.tooltips-user::before {
    opacity: 1;
    visibility: visible;
}

.home-user-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #f6f8fa;
    border: 1px solid #d1d9e0;
    top: 45px;
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 5px;
    opacity: 0;
    gap: 5px;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.25s ease, transform 0.5s ease;
    z-index: 20;
}
    .home-user-menu.user-active {
        opacity: 1;
        transform: translateY(0px);
        pointer-events: auto;
    }
.home-item-menu {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    border-radius: 5px;
    background: #f1f2f3;
    border: 1px solid #d1d9e0;
    cursor: pointer;
    transition: 0.1s background ease;
}
    .home-item-menu:hover {
        background: #eaeef2
    }

#user-arrow {
    display: inline-block;
    font-size: 8px;
    transition: transform 0.5s ease;
}

    #user-arrow.arrow-rotate {
        transform: rotate(180deg);
    }

