.auth-conteiner-input {
    display: flex;
    width: 100%;
    background: white;
    border-radius: 5px;
}

    .auth-conteiner-input input {
        width: 100%;
        font-size: 12px;
        min-height: 40px !important;
        border: none;
        border-radius: 5px !important;
        padding: 5px;
        outline: none;
        color: black;
    }

input::placeholder {
    font-weight: 400;
    padding-left: 5px;
    font-size: 12px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.inputs {
    line-height: 12px;
    min-height: 70px !important;
}

@media(max-width: 767px) {
    .inputs {
        gap: 10px;
        margin-top: 5px;
    }

    
}
