.common-align-center {
    display: flex;
    align-items: center;
}
.common-flex-column {
    position: relative;
    display: inline-flex;
    flex-direction: column;
}
.common-flex-row {
    position: relative;
    display: inline-flex;
    flex-direction: row;
}

.account-page {
    display: flex;

}
