.common-font-small {
    display: inline-block;
    letter-spacing: 1px;
    font-size: 12px;
    text-overflow: ellipsis;
    font-weight: 300;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s all ease;
}

.common-font-medium {
    display: inline-block;
    letter-spacing: 1px;
    font-size: 14px;
    text-overflow: ellipsis;
    font-weight: 300;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s all ease;
}

.common-font-large {
    display: inline-block;
    letter-spacing: 1px;
    font-size: 16px;
    text-overflow: ellipsis;
    font-weight: 300;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s all ease;
}

.common-font-xl {
    display: inline-block;
    letter-spacing: 1px;
    font-size: 18px;
    text-overflow: ellipsis;
    font-weight: 300;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s all ease;
}

    .common-font-small:hover, .common-font-medium:hover, .common-font-large:hover, .common-font-xl:hover {
        transform: translateY(-1px)
    }


.common-lheight {
    line-height: 15px
}

@media(max-width: 425px) {
    .common-font-small {
        font-size: 10px;
    }
    .common-font-medium {
        font-size: 12px;
    }
    .common-font-large {
        font-size: 14px;
    }
    .common-font-xl {
        font-size: 16px;
    }
}