input {
    display: inline-block !important;
    letter-spacing: 1px !important;
    font-size: 14px !important;
    text-overflow: ellipsis !important;
    font-weight: 300 !important;
    white-space: nowrap !important;
}